.videoButton {
  display: flex;
  width: 25%;
  margin: 0 auto;
  padding: 2%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  background: #607d8b;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 2.5px 5px 2.5px #00000040;
  transition: 0.15s ease-out;
}

.videoButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.videoIcon {
  margin-right: 3%;
  align-self: center;
}
