.link {
  text-decoration: none;
  color: #888585;
  margin-left: 5%;
}

.results {
  width: 30%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.list-item {
  padding: 1%;
  list-style: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
